.wprsync-menupage-wrap {
	._menupage-element {
		margin-top: 40px;
	}

	form {
		input[type=text] {
			width: 100%;
		}
	}

	table.wprsync-table {
		width: 100%;
		tr td {
			vertical-align: top;
			padding: 5px;
			&:first-child {
				font-weight: bold;
				padding-left: 0;
			}
		}
	}
}