table.wprsync-synctable {
	._title {
		margin-top: 0;
		margin-bottom: 4px;
	}
	._version b {
		font-style: italic;
	}
	._additional-info {
		font-style: italic;
		opacity: .8;
		font-size: .8rem;
	}
	tr td._sync {
		text-align: right;
		vertical-align: middle;
	}
	tr.no-sync td {
		color: #a8a8a8;
	}
}