table.wprsync-synctable {
	._title {
		margin-top: 0;
		margin-bottom: 4px;
	}
	._version b {
		font-style: italic;
	}
	._additional-info {
		font-style: italic;
		opacity: .8;
		font-size: .8rem;
	}
	tr td._sync {
		text-align: right;
		vertical-align: middle;
		button {
			padding-left: 2.5em;
			position: relative;
			span.dashicons {
				position: absolute;
				left: .3em;
				top: 55%;
				@include translateY(-50%);
			}
		}
	}
	tr.no-sync td {
		color: #a8a8a8;
	}
}